@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Libre+Baskerville:700&display=swap');
/*
font-family: 'Libre Baskerville', serif;
font-family: 'Lato', sans-serif;
 */
.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Custom colors
 */

 .bg-pink {
  background-color: #FF5E9E;
  color: white;
 }
 .center {
   text-align: center;
 }

.first-name{
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  text-align: center;
  font-size: 5em;
  line-height: .75em;
}
.last-name {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 3px;
}
.about-me-image {
  height: 228px;
  radius: 10px;
  border-radius: 50%;
  margin:0 auto;
}
